# ---------------------------
# Node / Astro / Windows / macOS / IDE
# ---------------------------

### Astro ###
dist/
.astro/

### Node ###
node_modules/
npm-debug.log*

# Environment variable files
.env
.env.production

### Windows ###
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

### macOS ###
.DS_Store

### IDE ###
# VS Code
.vscode/
# IntelliJ / IDEA
.idea/
*.iml
